SERVIDOR/.idea/.name
SERVIDOR/.idea/encodings.xml
SERVIDOR/.idea/misc.xml
SERVIDOR/.idea/modules.xml
SERVIDOR/.idea/SERVIDOR.iml
SERVIDOR/.idea/workspace.xml
SERVIDOR/.idea/scopes/scope_settings.xml
SERVIDOR/.idea/vcs.xml