body{
	background-color: #298cdb;
}

.banner{
	background-color: white;
	margin-bottom: 10px;
	border-bottom: 1px solid grey;
}

.logo-img{
	height: 100px;
	margin-top: -14px;
}

.h1-logo, .h1-logo:hover{
	text-decoration: none;
	font-weight: bold;
	margin-left: 5px;
	color: #00969B;

}

.a-banner, .a-banner:hover{
	text-decoration: none;
}

.span-logo-rasp{
	color: #D4264E;
}

.configuracion{
	padding-top: 50px;
}

.panel-default > .panel-heading{
	background-color: #5db3f7;
}
.h4-blanco{
	font-size: 24px;
	color: white;
}

.a-sin-decoracion, .a-sin-decoracion:hover{
	text-decoration: none;
}

.alert-success{
	background-color: white;
	color: green;
}
.alert .close{
	color: grey;
}

.on-off{
	width: 2em;
	text-align: center !important;
}

.badge-verde{
	background-color: #8BCB8D;
}

.badge-rojo{
	background-color: #EE6C70;
}


